.PostsContainer {
  display: flex;
  justify-content: center;
}

.Posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Posts_content {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
