.Post {
  display: flex;
  width: 720px;
  justify-content: center;
  border: 1px solid #0000004b;
  margin: 40px;
  border-radius: 6px;
  box-shadow: 5px 10px 2px 1px #897777;
}

.Post .Content {
  width: 92%;
  background-color: white;
  height: auto;
}
.Post .Title {
  text-decoration: none;
  color: #53413e;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}

.Post .Title:hover {
  color: #b0a7ac;
  transition: color 0.3s;
}
.Post .Content .SelfText,
.Post .Title h3 {
  margin: 10px 0 20px 10px;
}

.Post .Content .SelfText {
  line-height: 1.5rem;
  font-size: 1.15rem;
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}

.Post .mediaContainer .mediaImg,
.Post .mediaContainer .mediaVideo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-height: 800px;
}

.Post .Votes {
  background-color: #e7e1e5;
  border-radius: 5px 0 0 5px;
  width: 8%;
}

.Post .VoteDisplay {
  display: flex;
  margin: 10px 0;
  flex-direction: column;
  align-items: center;
}

.Post .VoteDisplay i {
  font-size: 1.5rem;
  color: #4e4544;
  border-radius: 50%;
}

.Post .VoteDisplay .Down,
.Post .VoteDisplay .Up {
  border: none;
  background-color: #e7e1e5;
}

/* .Post .VoteDisplay .Down i:hover {
  color: red;
  transform: scale(1.1);
  transition: all 0.5s;
}

.Post .VoteDisplay .Up i:hover {
  color: rgb(21, 223, 21);
  transform: scale(1.1);
  transition: all 0.2s;
} */

.Post .VoteCount {
  margin: 10px 5px;
  min-width: 45px;
  max-width: 45px;
  text-align: center;
  font-weight: bold;
}

.Post .ThumbnailWrapper {
  position: relative;
  width: 100%;
}

.Post .Thumbnail {
  position: relative;
  right: 0;
  display: inline-block;
  overflow: hidden;
  border: 1.5px solid rgb(26, 26, 212);
  border-radius: 4px;
}

.Post .ThumbnailIcon {
  color: rgb(26, 26, 212);
  background-color: white;
  padding-left: 5px;
  position: relative;
  z-index: 2;
}

.Post .Thumbnail img {
  text-align: right;
  box-sizing: border-box;
  transform: scale(1.2);
}

.Post .Thumbnail img:hover {
  filter: grayscale(0.5);
  transition: all 0.5s;
}

.Post .Content .Container {
  display: flex;
  justify-content: space-between;
}

.Post .Content .Tagline {
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  margin-top: 5px;
}

.Post .Content .Tagline a {
  color: #847c7c;
  text-decoration: none;
  margin-right: 10px;
}

.Post .Content .Tagline a:hover {
  text-decoration: underline;
}

.Post .Content .Tagline ul {
  list-style: none;
  display: flex;
  padding-left: 10px;
}

.Post .FooterContainer {
  display: flex;
  border-top: 2px solid #897777;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}
